body {
    margin: 0;
    padding: 0;
    font-family: Outfit, sans-serif;
}

/* .../Main\... */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .../Left Section\... */
.left-side {
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;
    width: 40%;
}

.left-side > h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 0.7rem 2rem;
    width: 50%;
    margin-bottom: 1rem;
    border-radius: 20px;
    border: none;
    background-color: #F1F1F1;
}

input::placeholder {
    font: 1rem Outfit;
}

button {
    padding: 0.7rem 2rem;
    background-color: #1CA8F7;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.social-links > div > img {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.5rem;
    object-fit: cover;
    margin: 0 0.3rem;
    cursor: pointer;
}

/* .../Right Section\... */
.right-side {
    background-color: #1CA8F7;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    border-bottom-left-radius: 100%;
}

.sign-in {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    align-self: center;
}

.sign-in > h2 {
    margin: 0;
}

.sign-in > span {
    padding: 0.7rem 2rem;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 0.8rem;
}

.right-side > img {
    width: 350px;
    height: 250px;
    position: absolute;
    bottom: 0;
    align-self: center;
}

/* .../Media Queries\... */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 50%;
    }
    
    .left-side {
        width: 100%;
        padding: 4rem 0;
    }

    .social-links p {
        font-size: 13px;
    }

    .right-side {
        width: 100%;
    }

    .right-side > .sign-in > p {
        font-size: 12px;
    }

    .right-side img {
        width: 300px;
        height: 300px;
    }
}


